body{
	font-family: 'Poppins', sans-serif;
}

.navlink{
  color: white;
}
.navlink:hover{
  border-bottom: 1px solid  #FFA0A0;
}

ul.nav.nav-tabs {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px; */
}

.login-btn{
  background-color: white;
  outline: none;
  color: #262A53;
  width: 100%;
  border: 2px solid #262A53;
  font-size: 25px;
}
.login-btn:hover{
  background-color: #262A53;
}

.login-btn-active{
  background-color: #262A53;
  outline: none;
  color: white;
  width: 100%;
  border:2px solid #262A53 
}
.login-btn-active:hover{
  background-color: #313563;
  border: 2px solid #262A53;
}

.highlight-chosen-option{
  border: 1px solid #4fd88d;
  background-color: red;
}

.selected-option{
  background-color: #262A53;
  color: white !important;
}
a{
  text-decoration: none;
}
.share-icon{
  color:#262A53;
  padding:10px;
}